@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: white;
  overflow-x: hidden;
}

a,
a:visited,
a:active,
a:hover,
a:focus {
  text-decoration: none;
}

.shadow-custom {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
    0 6px 20px rgba(0, 0, 0, 0.19);
}

/* editor.css */
[contenteditable="true"]:empty::before {
  content: attr(data-placeholder);
  color: #9ca3af; /* abu-abu */
  pointer-events: none;
}
.editor-content ul {
  list-style-type: disc;       /* bullet hitam */
  list-style-position: inside; /* biar bullet sejajar dengan teks */
  margin-left: 1.5rem;         /* jarak indent */
}

.editor-content ol {
  list-style-type: decimal;    /* angka */
  list-style-position: inside;
  margin-left: 1.5rem;
}

.editor-content li {
  margin-bottom: 0.25rem;      /* jarak antar item */
}

